## General ##
Redirect 301 /buy https://digitaltrollstudios.com/#pricing

## Social Media ##
Redirect 301 /youtube https://www.youtube.com/channel/UCPLniamMAq7iuGiAfx0hzjg
Redirect 301 /discord https://discord.gg/3u9zA4UKXE
Redirect 301 /reddit https://reddit.com/u/digitaltrollstudios
Redirect 301 /instagram https://www.instagram.com/digitaltrollstudios/

## Other ##
