## General ##
ErrorDocument 404 https://digitaltrollstudios.com

## Quick Links ##
Redirect 301 /buy https://www.drivethrurpg.com/product/425620/Grim-Hunters--Base-Rules

## Catch All ##
Redirect 302 / https://digitaltrollstudios.com